.newlist-container {
  max-width: 650px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  margin: 0 auto;
}

.newlist-form {
  width: 100%;
  margin-top: 20px;
}

.form-inputs-section {
  max-width: 650px;
}
.form-inputs-section #taskinput {
  width: 100%;
}

.newlist-form input {
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 1.1em;
  font-family: SF-RG;
  color: #574437;
  border: 1px solid #ef7734;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newlist-form .form-buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.new-todo-list {
  width: 100%;
}

.new-tarefa-item,
.new-tarefa-name-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  font-family: SF-RG;
  color: #574437;
  padding-right: 40px;
  padding-left: 20px;
}

.new-tarefa-name-div p {
  margin-left: 10px;
  font-size: 0.9em;
}

@media screen and (max-width: 600px) {
  .new-todo-list {
    width: 100%;
  }
}
